
.generate-container{
    gap: 10px;
}

.canvas-container{

width: minmax(100px, 200px);

/* border-top: 4px dashed red; */


position: relative;

margin: 50px;
margin-top: 0px;

box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
/* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
}

.user-interface{
    text-align: center;

    background-color: #92A8D1;
    /* border: 2px solid green; */

    align-self: center;

    height: 300px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.download-btn{
    background-color: rgb(233, 233, 233);
    border: 1px solid rgb(37, 37, 37);

    padding: 3px;

    border-radius: 5px;

    position: relative;
    bottom: 25px;
    
}

.download-btn:hover{
    text-shadow: rgba(0, 242, 255, 0.661) 1px 0 10px;

}

.text-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-items: center;

    /* border: 2px solid green; */
}

.size-container{
    align-self: center;

    /* border: 2px solid green; */
    padding: 5px;
}

.font-size-display{
    text-align: center;
    
}

canvas{
    /* position: absolute; */
}

.line-select{
    height: 200px;
    width: 85%;

    background-color: none;

    border: 5px dashed rgb(255, 0, 0);

    position: absolute;

    z-index: 20;

    margin-left: 50%;

    transform: translate(-50%, -50%);

    /* top: 100px; */

    bottom: -50px;
    
    display: none;
    /* bottom: calc(80vh - 250px); */
}
