

.canvas-container{

width: minmax(100px, 200px);

/* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
}

.user-interface{
    text-align: center;

    background-color: aquamarine;
    /* border: 2px solid green; */

    align-self: center;

    height: 300px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.download-btn{
    background-color: rgb(233, 233, 233);
    border: 1px solid rgb(37, 37, 37);

    padding: 3px;

    border-radius: 5px;

    position: relative;
    bottom: 25px;
    
}

.text-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-items: center;

    border: 2px solid green;
}

.size-container{
    align-self: center;

    border: 2px solid green;
    padding: 5px;
}

.font-size-display{
    text-align: center;
    
}

